html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0 auto;
    min-height: 100%;
    background-color: #fafafa;
    font-family: "Helvetica", "Arial", sans-serif;
    position: relative;
    padding-bottom: 64px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 8px 8px 8px 16px;
}

li {
    display: inline;
    padding: 4px;
    font-size: 14px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer {
    background-color: #e7e7e7;
    color: #909090;
    width: 100%;
    padding: 12px 0;
    margin: 0;
    position: absolute;
    bottom: 0;
}

#pano {
    height: 500px;
    width: 100%;
    margin-bottom: 16px;
}

#error {
    display: none;
    background-color: #f6cfd4;
    text-align: center;
    margin: 8px 0;
    padding: 4px 0;
    color: #5c5c5c;
}

#pano-input {
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    background-color: #fafafa;
}
